Name: <%= user.name %>
Status: <%= (user.isHelper) ? "Helper" : "Senior" %>

<% if (user.registeredLists.length == 0 || user.registeredLists == null) { %>
    <h1>There are no lists available!</h1>
<% } else { %>
    <h3>This is your registered lists</h3>
    <% user.registeredLists.forEach( list => { %>
        <div>
            <% list.items.forEach( item => { %>
                <%= item.name %>
                <%= item.qty %>
            <% }) %>  
        </div>
        Owned by: <%= list.ownedBy.name %> 
        <% if (list.status == 1) { %> 
                <p>In progress</p>
                <form action="/list/complete/<%= list._id %>" method="post">   
                    <button type="submit">Fulfill</button>
                </form>    
        <% } else if (list.status == 2) { %>
                <p>Congrats! Task has been fulfilled</p>
        <% } %>
    <% }) %>
<% } %>

<% if (currentUser != null && currentUser.isSenior == true) { %>
    <a href="/list/new">Create list</a>
<% } %>