<h6><%= (user.isHelper) ? "Helper" : "Senior" %>: <%= user.name %></h6>

<% if (user.registeredLists.length == 0 || user.registeredLists == null) { %>
    <h3>There are no lists available!</h3>
<% } else { %>
    <h6>You have <%= user.registeredLists.length %> list(s)</h6>
    <% user.registeredLists.forEach( list => { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <% list.items.forEach( item => { %>
                    <h5 class="card-title"><%= item.name %> x <%= item.qty %></h5>
                <% }) %>  
                <h6 class="card-subtitle mb-2 text-muted"></h6>@<%= list.ownedBy.name.toLowerCase(); %></h6> 
                <% if (list.status == 1) { %> 
                    <form action="/list/complete/<%= list._id %>" method="post">   
                        <button class="btn btn-warning" type="submit">Fulfill</button>
                    </form>    
                    <% } else if (list.status == 2) { %>
                    <p class="text-success card-text">Fulfilled</p>
                <% } %> 
            </div>
        </div>
    <% }) %> 
<% } %>

<% if (currentUser != null && currentUser.isSenior == true) { %>
    <a href="/list/new">Create list</a>
<% } %>